

/* button {
    padding: 5px 10px;
    margin: 0px 10px;
} */

.botaof {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;

    padding: 5px 10px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;

}

.botaof:hover{
    background-color: black;
    color: white;
}



/* @media screen and (max-width: 700px){
    header .container{
        display: flex;  
        flex-direction: column;
    }
} */



.card img{
    height: 420px;
    /* height: auto; */
}

.card-body{
    height: 100%;
}

.card-text{
    height: 100%;
    min-height: 230px;
}